* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
  font-size: 20px;
  line-height: 1.6;
  background-color: #eff772;
  color: #060606;
}

.p1 {
  padding: 1rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.bg-white {
  background-color: #fff;
  color: #333;
  border: #1d0092 1px solid;
}

.post {
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}
